$color1: rgb(255, 180, 19);
$color2: rgb(255, 246, 246);
$color3: rgb(7, 180, 228);
$color4: rgb(255, 101, 48);
$color5: rgb(228, 224, 228);

@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Indie+Flower');
$mainFont: 'Lobster Two', cursive;



@mixin setPageContainer($flex: initial, $direction: row, $wrap: nowrap, $justify: space-evenly) {
    min-height: 100%;
    width: 100vw;

    @if $flex == true {
        display: flex;
        flex-wrap: $wrap;
        justify-content: $justify;
        flex-direction: $direction;
    }
}