@import '_variables';
// // @import './mq576px';
// // @import './mq768px';
// // @import './mq992px';
// // @import './mq1200px';

// /* Extra small devices (portrait phones, less than 576px) */
// /* No media query for `xs` since this is the default in Bootstrap */

.App {
    min-height: 100vh;
    width: 100vw;

    .thumbnail {
        width: calc(100vw - 20px);
        height: 20vw;
        border-radius: 8px;
        margin: 0px 10px 10px 10px;

        &.unsplash {
            margin-left: 0;

            &.chosen {
                box-shadow: 0 0 10px 2px $color3;
            }
    
            &.more {
                background: $color5;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.5);
            }
        }

        .thumbnail_author {
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 0px 10px 0px 10px;
            font-size: 0.9em;
        }
        
        .thumbnail_title {
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 0px 10px 0px 10px;
            font-size: 1.4em;
            font-family: $mainFont;
        }
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        font-size: 1.5em;
        
        span{
            font-family: $mainFont;
        }
        .icons{
            a{
                padding-left: 10px;
            }
        }
    }

    .title {
        font-family: $mainFont;

        &.main_title {
            margin: 0;
            padding: 0;
        }

        &.sub_title {
            padding-top: 10px;
            padding-bottom: 20px;
        }
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: none !important;
            color: initial;
        }
    }

    ul,
    ol {
        padding-left: 0;
        list-style: none !important;
    }

    .ingredients_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li.ingredient {
            max-width: 100%;
            background: $color1;
            border-radius: 8px;
            margin: 5px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .ingredient_name {
                margin-right: 2px;
                font-weight: bold;
                word-break: break-all;
            }
        }
    }

    ol.method_list {

        li.step {
            background: $color3;
            border-radius: 8px;
            margin: 10px;
            padding: 5px;

            .step_duration {
                font-weight: 600;
            }

            .step_metadata {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .loader {
        position: absolute;
        top: 50vh;
        left: 50vw;

        .spinner-border {
            font-size: 1em;
            color: black;
        }
    }

    .Logo {
        font-family: $mainFont;
        font-size: 1.8em;
        color: black;
        text-decoration: none;
    }

    .homepage,
    .Category {
        @include setPageContainer(true, row, wrap, space-evenly);
    }

    .addRecipe {
        @include setPageContainer(true, column, nowrap, flex-start);
        margin-bottom: 50px;

        .center_container {
            flex-grow: 1;
        }

        .bottom_container i {
            font-size: 1.5em;
        }

        .footer {
            height: 50px;
            width: 100%;
            position: fixed;
            background: white;
            bottom: 0px;
            left: 0px;
            padding: 10px;
            box-shadow: 0px 7px 30px 2px rgba(0, 0, 0, 0.75);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .IngredientsInfo {
            padding-bottom: 50px !important;

            .ingredients_list {
                list-style: none;
                line-height: 2em;
            }
        }
    }

    .recipe {
        @include setPageContainer(false);
        min-height: 100vh;

        .recipe_image {
            width: 100%;
            margin-top: 10px;
        }

    }
}