/* .homepage {
    min-height: 100%;
    width: 100%;
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category_thumbnail {
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.category_thumbnail span{
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
} */