@import url('https://fonts.googleapis.com/css?family=Lobster');

a:hover{
    text-decoration: none !important;
}

.App{
    min-height: 100vh;
    background: white;
    background-position-x: center;
    background-size: contain;
    background-attachment: fixed;
}

.contentContainer{
    height: 100%;
}

/* colors
#AFD2CE
#B3D380
#E5E2D1
#E2B6AB
#CD5D6D */