@import url('https://fonts.googleapis.com/css?family=Lobster');

.App{
    /* width: 100vw; */
    height: 100vh;
}

a:hover{
    text-decoration: none !important;
}

/* colors
#AFD2CE
#B3D380
#E5E2D1
#E2B6AB
#CD5D6D */