/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

.recipe{
    padding: 10px;
    border-bottom: 5px dotted #000000;
}

.title{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}

.sub_title{
    padding-top: 10px;
    padding-bottom: 20px; 
}

.metadata{
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.metadata span{
    margin-right: 10px;
}

.recipe ul{
    padding-left: 1em;
    list-style: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    .main_container{
        display: flex;
        flex-direction: row;
    }

    .ingredients_container{
        padding-right: 50px;
    }
    
    .method_container{
        width: 50%;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
