.addRecipe{
    height: 100%;
    width: 100%;
    background: #ffffff;
    padding: 20px;
    padding-top: 95px;
}

.addRecipe input, .addRecipe button, .addRecipe select, .addRecipe textarea{
    margin-bottom: 10px;
}