.addRecipe{
    height: 100;
    width: 100%;
    background: #ffffff;
    padding: 20px;
    padding-top: 95px;
    display: flex;
    flex-direction: column;
}

.center_container {
    flex-grow: 1;
}

.bottom_container i {
    font-size: 1.5em;
}