/* .addRecipe{
    height: 100;
    width: 100%;
    background: #ffffff;
    padding: 20px;
    padding-top: 95px;
    display: flex;
    flex-direction: column;
}

.center_container {
    flex-grow: 1;
}

.bottom_container i {
    font-size: 1.5em;
}

.footer {
    height: 50px;
    width: 100%;
    position: fixed;
    background: white;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    box-shadow: 0px 7px 30px 2px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.IngredientsInfo{
    padding-bottom: 50px;
}

.ingredients_list{
    list-style: none;
    line-height: 2em;
} */