.category_thumbnail {
    width: 150px;
    height: 150px;
    margin: 15px;
    background: url('https://images.pexels.com/photos/103124/pexels-photo-103124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.category_thumbnail span{
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    text-align: center;
}